{% extends 'basic.html' %}
{% block title %}
{% endblock %}
{% block body %}
<h2 align="center">Your Vehicles</h2>
<table style="overflow:auto;" align="center" width="50%;" cellspacing="20">
    {% for v in vehicles %}
    <tr style="background:grey;">
        <td style="height:80px;">
            <a href="/vehicle_portal/{{v.id}}" style="text-decoration:none;">
                <div align="center">
                    <h2>{{v.vehicle_no}}</h2>
                </div>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}